
<div class="container mt-4">
  <h1>Welcome to SMS</h1>

  <% if student_signed_in? || teacher_signed_in? %>
    <!-- User is signed in -->
    <div class="mt-4">
      <%= link_to "Logout", destroy_student_session_path, method: :delete, class: "btn btn-danger mr-2" %>
    </div> <% else %>
    <!-- User is not signed in -->
    <div class="mt-4">
      <%= link_to "Login as Student", new_student_session_path, class: "btn btn-primary mr-2" %>
      <%= link_to "Signup as Student", new_student_registration_path, class: "btn btn-success mr-2" %>
      <%= link_to "Login as Teacher", new_teacher_session_path, class: "btn btn-primary mr-2" %>
      <%= link_to "Signup as Teacher", new_teacher_registration_path, class: "btn btn-success" %>
    </div> <% end %>
</div>
